{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="content-wrapper">
	<h2 style="text-align: center;">Forecasting Penjualan Produk Jeans</h2>
	<p style="font-size: 18px; text-align: justify;">Forecasting adalah cara yang dilakukan untuk memperkirakan pendapatan masa mendatang dengan memprediksi jumlah produk yang akan dijual. Keuntungan setelah melakukan forecasting adalah nantinya toko ini akan lebih bisa merencanakan produksi jeans kedepannya sehingga tidak ada lagi barang yang terlalu lama disimpan digudang dan menumpuk, kualitas barang tetap terjamin dan pengelolaan anggaran bisa lebih terkendali dari sebelumnya.</p>
	<br>
	<h3>Fitur - Fitur : </h3>
	<ul>
		<li>Menu "Data Penjualan" digunakan nuntuk menunjukkan data penjualan</li>
		<li>Menu "Forecasting" digunakan untuk menunjukkan hasil forecasting</li>
	</ul>
</div>

{% endblock content %}